<nav class="navbar navbar-expand-lg menu">
    <div class="container-fluid">
        <div class="d-flex justify-content-start">
        <img src="../../assets/img/logo.png"  class="logo">
      <a class="navbar-brand titulo_header" href="#">Mesa de Ayuda | Portal Cliente</a>
    </div>

      <li class="nav-item dropdown d-flex justify-content-end colapse_header">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Jorge luis lloreda Chicuazuque
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          
          <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
         
        </ul>
      </li>
    
    </div>
  </nav>