<table class="table table-striped">
  <thead>
    <tr>
      <th>#ticket</th>
      <th>Estado</th>
      <th>Asunto</th>
      <th>Cliente</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>R4554421</td>
      <td><button class="btn btn-success disabled">Resuelto</button></td>
      <td>Luis emilio Sanchez Barbosa</td>
      <td>Luis emilio Sanchez Barbosa</td>
      
    </tr>

    <tr>
        <td>R4554421</td>
        <td><button class="btn btn-success disabled">Resuelto</button></td>
        <td>Luis emilio Sanchez Barbosa</td>
        <td>Luis emilio Sanchez Barbosa</td>
       
    </tr>
    <tr>
        <td>R4554421</td>
        <td><button class="btn btn-success disabled">Resuelto</button></td>
        <td>Luis emilio Sanchez Barbosa</td>
        <td>Luis emilio Sanchez Barbosa</td>
       
    </tr>
    <tr>
        <td>R4554421</td>
        <td><button class="btn btn-success disabled">Resuelto</button></td>
        <td>Luis emilio Sanchez Barbosa</td>
        <td>Luis emilio Sanchez Barbosa</td>
      
    </tr>
  </tbody>
</table>
