<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>#ticket</th>
      <th>Estado</th>
      <th>Asunto</th>
      <th>Cliente</th>
      <th>Responsable</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let requerimiento of datarequerimientosByEsp">
      <td>{{requerimiento.idTicketCategorizado}}</td>
      <td>{{requerimiento.estado.nombreEstado}}</td>
      <td>{{requerimiento.asunto}}</td>
      <td>{{requerimiento.usuario.nombre}}</td>
      <td>{{requerimiento.responsable.nombre}}</td>
      <td><button type="button" class="btn btn-warning" (click)="editarTicket(requerimiento)">Editar</button></td>
      
    </tr>

    </tbody>
</table>
</div>