<nav class="navbar navbar-expand-lg menu">
    <div class="container-fluid">
        <div class="d-flex justify-content-start">
        <img src="../../assets/img/logo.png"  class="logo">
      <a class="navbar-brand titulo_header" href="#">Mesa de Ayuda | Portal Cliente</a>
    </div>
  </div>

  

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <i class="fas fa-home"></i>Inicio</a>
        
          </li>
         
          <button *ngIf="!isLogged" class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="signInWithGoogle()">
            <i class="fas fa-sign-in-alt fa-lg"></i> Iniciar Sesión
           </button>
          <button  *ngIf="isLogged" class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="logOut()">
            <i class="fas fa-sign-out-alt fa-lg"></i>Cerrar Sesión
           </button>
          
        </ul>
        <ul class="navbar-nav mrl-auto" *ngIf="isLogged">
          <li class="nav-item disable">
            <a class="nav-link" >
              <i fas fa-list> 

              </i>{{userLogged.name}}</a>
          </li>
        </ul>
        <img *ngIf="isLogged" src="{{userLogged.photoUrl}}" class="rounded-circle mr-3" style="width: 50px;">

      </div>
    
  
    
    
  </nav>