#perfilTecnico{
    padding-top: 5%;
    width: 100%;
    height: auto;
    background-color: white;
   
}
.container{
    margin-left: -2% !important;
}

.sidebar
{
   margin-top: -2%;
    height: 790px;
    background-color: #02112B;
    }
*
{
    overflow: hidden;
}