<section id="perfilTecnico">
  <div class="container">
    <div class="row"  >
      <div class="col-md-3 sidebar" >
        <app-barra-navegacion
          (opcionVentanamenu)="opcionmenu = $event"
        ></app-barra-navegacion>
      </div>

      <div class="col-md-9">
        <div>
          <app-introduccion *ngIf="opcionmenu == 1"></app-introduccion>
          <app-ticket-sin-categorizar
            *ngIf="opcionmenu == 2"
          ></app-ticket-sin-categorizar>

          <app-requerimientos *ngIf="opcionmenu == 3"></app-requerimientos>
          <app-incidentes *ngIf="opcionmenu == 4"></app-incidentes>
        </div>
      </div>
    </div>
  </div>
</section>
