<!-- As a link -->
<nav class="navbar navbar-light navega">
    <div class="container-fluid">
      <button  class="sidebar" (click)="introduccion()">
      <a class="navbar-brand" >
        <span class="navbar-brand mb-0 h1" style="margin-top: 5%;">
          <i class="fas fa-house-user"></i>&nbsp; Inicio
        </span></a>
      </button>
    </div>
  </nav>

  <nav class="navbar navbar-light navega">
    <div class="container-fluid">
      <button  class="sidebar" (click)="sinCategorizar()">
      <a class="navbar-brand" >
        <span class="navbar-brand mb-0 h1">
          <i class="fas fa-house-user"></i>&nbsp; Categorizar
        </span></a>
      </button>
    </div>
  </nav>
  
  <!-- As a heading -->
  <nav class="navbar navbar-light navega">
    <div class="container-fluid">
      <button  class="sidebar" (click)="requerimientos()">
        <a class="navbar-brand" >
      <span class="navbar-brand mb-0 h1"><i class="fas fa-user-clock"></i>&nbsp;Requerimientos</span>
    </a>
  </button>
    </div>
    
  </nav>

  <nav class="navbar navbar-light navega">
    <div class="container-fluid">
      <button  class="sidebar" (click)="incidentes()">
        <a class="navbar-brand" >
      <span class="navbar-brand mb-0 h1"><i class="fas fa-exclamation-triangle"></i> &nbsp;Incidentes</span>
    </a>
  </button>
    </div>
    
  </nav>