<div class="card" style="padding-top: 200px;">
  <div class="card-header">Crear Ticket</div>

  <div class="card-body">
    <form method="POST"  enctype="multipart/form-data">


      <div class="form-group row">
        <label for="asunto" class="col-form-label col-sm-2">Asunto</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="ticket.asunto" name="asunto" />
        </div>
      </div>





      <div class="form-group row">
        <label for="descripcion" class="col-form-label col-sm-2">Descripcion</label>
        <div class="col-sm-6">
          <textarea type="text" class="form-control" [(ngModel)]="ticket.descripcion" name="descripcion" ></textarea>
        </div>
      </div>


      <div class="form-group row">
        <label for="placaPC" class="col-form-label col-sm-2">Placa PC</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="ticket.placaPC" name="placaPc" />
        </div>
      </div>


      <div class="form-group row">
        <label for="Ubicacion" class="col-form-label col-sm-2">Ubicacion</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="ticket.ubicacion" name="ubicacion" />
        </div>
      </div>

      <div class="form-group row">
        <label for="Ubicacion" class="col-form-label col-sm-2">Archivo Adjunto</label>
        <div class="col-sm-6">
          <input type="file" class="form-control"  (change)="onFileChange($event)" [(ngModel)]="ticket.archivo" name="archivo" />
        </div>
      </div>

      <!-- <div class="form-group row">
        <label for="idusuaario" class="col-form-label col-sm-2">id_usuario</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="ticket.usuario['id']"
            name="idUsuario"
          />
        </div>
      </div>-->

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)="onUpload()">Crear Ticket</button>
        </div>
      </div>

    </form>
  </div>
</div>