<app-header></app-header>
<!--
    Inicio perfil de cliente
-->
<section id="perfil">
  <div class="container">
    <div class="card mx-auto">
        <h1 class="titulo">Bienvenido a la Mesa de ayuda de la Unincca</h1>
      <div class="row " style="margin-top: 50px;">
        <div class="col-4 mx-auto ">
          <div class="row justify-content-md-center">
            <div class="col">
              <a class="titulo_ticket"  routerLink="/crearTicket">
                <i class="fas fa-plus-circle icono"></i>
              </a>
            </div>
            <div class="col">
              <h1 class="titulo_tickets">Generar Ticket</h1>
              <p class="texto">Registre su caso y se le dará respuesta</p>
            </div>
          </div>
        </div>

        <div class="col-4 mx-auto ">
          <div class="row justify-content-md-center">
            <div class="col">
              <a  routerLink="/clientes/tickets">
                <i class="fas fa-list-alt icono"></i>
              </a>
            </div>
            <div class="col">
              <h1 class="titulo_tickets">Ver mis Ticket</h1>
              <p class="texto">haga seguimiento a sus tickets registrados</p>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="container">
    <div class="imagen_div">
        <img src="../../assets/img/mesa1.jpg"   class="imagen img-fluid"/>
    </div>
</div>

  </div>
</section>

<!--
    Fin perfil de cliente
-->
<app-footer></app-footer>
