
<div class="container my-5">
 
<div class="row justify-content-sm-center">
  <div class="col">
   
    <div class="bg-light">
      <div>
          <div>
            <div class="chart">
              <button type="button" class="btn btn-primary" (click)="actualizar()">
                <i class="fas fa-sync-alt"></i>
              </button>
              <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins"
                [colors]="pieChartColors"
                [legend]="pieChartLegend">
              </canvas>
            </div>
          </div>

        
        </div>
       
      </div>
  </div>
    
</div>

</div>