<div class="table-responsive">
<table class="table table-striped">
    <thead>
      <tr>
        <th>#ticket</th>
        <th>Estado</th>
        <th>Asunto</th>
        <th>Cliente</th>
        <th>Responsable</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let incidente of dataIncidentesByEsp">
        <td>{{incidente.idTicketCategorizado}}</td>
        <td>{{incidente.estado.nombreEstado}}</td>
        <td>{{incidente.asunto}}</td>
        <td>{{incidente.usuario.nombre}}</td>
        <td>{{incidente.responsable.nombre}}</td>
        <td><button type="button" class="btn btn-warning" (click)="editarTicket(incidente)">Editar</button></td>
        
      </tr>
    </tbody>
  </table>
</div>