<div
  class="card"
  style="padding-top: 120px">
  <div class="card-header carta_header">
    Actualizando Ticket {{this.ticketService.ticket.idTicketCategorizado}}
  </div>
  <div class="card-body">
    <div class="container">
      <form>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header carta_header">Infomación Básica</div>

              <div
                class="card-body"
                style="padding-button:200px">

                <div class="row">
                  <div class="col">
                    <label
                      for="disabledTextInput"
                      class="form-label">
                      Estado de Ticket
                    </label>
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      [(ngModel)]="ticket.estado"
                      name="estado">
                      <option
                        selected
                        disabled>
                        Seleccione Estado
                      </option>
                      <option
                        *ngFor="let estados of dataEstados"
                        [ngValue]="estados">
                        {{ estados.nombreEstado }}
                      </option>
                    </select>

                  </div>
                  <div class="col">
                    <label
                      for="disabledTextInput"
                      class="form-label">
                      Tipo de Ticket
                    </label>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="{{this.ticket.tipoTicket.nombreTipoTicket}}"
                      aria-label="Disabled input example"
                      disabled
                      readonly>

                    <!-- <select class="form-select" aria-label="Default select example">
                                              <option selected>{{ tipo.nombreTipoTicket }}</option>
                                            <option *ngFor="let tipo of dataTipoTicket" value="{{ tipo.id }}">
                                                {{ tipo.nombreTipoTicket }}
                                            </option>
                                             </select> -->

                  </div>

                </div>

                <fieldset disabled>

                  <div class="mb-3">
                    <label
                      for="disabledTextInput"
                      class="form-label">
                      Cliente
                    </label>
                    <input
                      type="text"
                      id="disabledTextInput"
                      class="form-control"
                      placeholder="{{this.ticket.usuario.nombre}}">
                  </div>
                  <div class="mb-3">
                    <label
                      for="disabledTextInput"
                      class="form-label">
                      Asunto
                    </label>
                    <input
                      type="text"
                      id="disabledTextInput"
                      class="form-control"
                      placeholder="{{this.ticket.asunto}}">
                  </div>

                  <div class="form-floating">
                    <textarea
                      class="form-control"
                      placeholder="Escribe tu descripcion aqui"
                      id="floatingTextarea2"
                      style="height: 150px"></textarea>
                    <label for="floatingTextarea2">{{this.ticket.descripcion}}</label>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header carta_header">Tipificación</div>
              <div class="card-body">

                <div class="row">
                  <div class="col">
                    <label
                      for="disabledTextInput"
                      class="form-label">
                      Categoria
                    </label>
                    <select
                      class="form-select"
                      aria-label=".form-select-lg example"
                      [(ngModel)]="ticket.categoria"
                      name="categoriaTicket"
                      >
                      <option
                        selected
                        disabled>
                        Seleccion Categoria
                      </option>
                      <option
                        *ngFor="let categoria of dataCategorias"
                        [ngValue]="categoria">
                        {{ categoria.nombreCategoria }}
                      </option>
                    </select>

                  </div>

                </div>
                <div class="row">
                  <div class="col">
                    <label
                      for="disabledTextInput"
                      class="form-label">
                      Servicio
                    </label>
                    <!--<select
                      class="form-select"
                      aria-label=".form-select-lg example"
                      [(ngModel)]="ticket.categoria.servicios"
                      name="servicios">
                      <option
                        selected
                        disabled>
                        Seleccion Servicio
                      </option>
                      <option
                        *ngFor="let servicios of dataServicios"
                        [ngValue]="servicios">
                        {{ servicios.servicio}}
                      </option>
                    </select>
                -->
                  </div>
                  <div class="col">
                    <label
                      for="disabledTextInput"
                      class="form-label">
                      Tiempo respuesta
                    </label>
                    <select
                      class="form-select"
                      aria-label=".form-select-lg example"
                      >
                      <option
                        selected
                        disabled>
                        Seleccion Tiempo
                      </option>
                      <option
                        *ngFor="let servicios of dataServicios"
                        value="{{ servicioTicket.idServicio}}">
                        {{ servicios.tiemposDeRespuestaTickets.nombre}}
                      </option>
                    </select>

                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <label
                      for="disabledTextInput"
                      class="form-label">
                      Especialista
                    </label>
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      [(ngModel)]="ticket.responsable"
                      name="responsable">
                      <option selected>Especialista</option>
                      <option
                        *ngFor="let especialista of dataEspecialistas"
                        [ngValue]="especialista">
                        {{ especialista.nombre }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <a
                    (click)="downloadFile(ticket)"
                    type="button"
                    >
                      {{ticket.archivo}}
                  </a>

                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="editarTicket()"
          style="margin-top: 15px;">
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>
