<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                
                <div class="card">
                    <div class="card-header carta_header">Detalles del Caso1</div>
                    <div class="card-body">
                      <table class="table table-striped">
                        <thead>
                          <th>Item</th>
                          <th>Detalle</th>
                        </thead>
                        <tbody>
                          <tr>
                            <td># Ticket</td>
                            <td>{{ticket.idTicket}}</td>
                          </tr>
                         
                          <tr>
                            <td>Categoria</td>
                            <td>{{ticket.categoriaTicket.nombreCategoria}}</td>
                          </tr>
                          <tr>
                            <td>Servicio</td>
                            <td>Nom servicio</td>
        
                        </tr>
        
                         
        
                          <tr>
                            <td>Responsable</td>
                            <td>{{ticket.responsable.nombre}}</td>
                          </tr>
        
                          <tr>
                            <td>Progreso</td>
                            <td>Progreso</td>
                          </tr>
                         
                        </tbody>
                      </table>
                    </div>
                  </div>
            </div>
          
        </div>

        <div class="row">
          <div class="col-sm-6 carta">
            <div class="card ">
              <div class="card-header carta_header">Descripcion</div>
              <div class="card-body">
                <div class="row">
                  <div class="col ">
                     <p>{{ticket.descripcion}}</p> 
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 carta">
            <div class="card ">
              <div class="card-header carta_header">Solución</div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
            <h1></h1>
          </div>
        </div>
    </div>

</div>
