<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                
                <div class="card">
                    <div class="card-header carta_header">Detalles del Caso1</div>
                    <div class="card-body">
                      <table class="table table-striped">
                        <thead>
                          <th>Item</th>
                          <th>Detalle</th>
                        </thead>
                        <tbody>
                          <tr>
                            <td># Ticket</td>
                            <td>{{ticketActivo.idTicket}}</td>
                          </tr>
                         
                          <tr>
                            <td>Categoria</td>
                            <td>Categoria</td>
                          </tr>
                          <tr>
                            <td>Servicio</td>
                            <td>Nom servicio</td>
        
                        </tr>
        
                          <tr>
                            <td>Grupo de ESP</td>
                            <td>Grupo de ESP</td>
                          </tr>
        
                          <tr>
                            <td>Encargado</td>
                            <td>Encargado</td>
                          </tr>
        
                          <tr>
                            <td>Progreso</td>
                            <td>Progreso</td>
                          </tr>
                         
                        </tbody>
                      </table>
                    </div>
                  </div>
            </div>
          
        </div>

        <div class="row">
          <div class="col-sm-6 carta">
            <div class="card ">
              <div class="card-header carta_header">Descripcion</div>
              <div class="card-body">
                <div class="row">
                  <div class="col ">
                     <p>Enim excepteur dolore ullamco dolor sint dolore amet cupidatat ullamco nisi. Proident mollit ullamco non enim qui nisi elit excepteur duis. Deserunt proident nisi ullamco deserunt cillum ex dolor enim est eu mollit reprehenderit. Consequat ullamco reprehenderit pariatur aliquip dolor aliquip enim aute. Velit ullamco non voluptate ullamco quis mollit cupidatat id labore tempor.</p> 
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 carta">
            <div class="card ">
              <div class="card-header carta_header">Solución</div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <p>Adipisicing nulla ut tempor incididunt. Sunt in laborum commodo deserunt proident sint consequat irure officia officia eiusmod labore aliqua. Mollit deserunt non anim consequat reprehenderit exercitation eu. Irure deserunt consectetur nostrud elit ullamco tempor ad cupidatat ut sint aliqua. Do ut laborum pariatur in nostrud culpa dolor ea.</p> 
                    </div>
                </div>
              </div>
            </div>
            <h1></h1>
          </div>
        </div>
    </div>

</div>
