<div class="container">
    <div class="row">
      <div class="col-sm-6">
          <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre Categoría</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                
              </div>
              <div class="mb-3">
                  <select class="form-select" aria-label="Default select example">
                      <option selected>Tipo Ticket</option>
                      <option value="1">Incidente</option>
                      <option value="2">Requerimiento</option>
                     
                    </select>
              </div>
              
              <button type="submit" class="btn btn-primary">Crear Categoría</button>
            </form>
      </div>
      <div class="col-sm-6">
              <table class="table table-secondary table-striped">
                  <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Action</th>
                      </tr>
                  </thead>
  
                  <tbody>
                      <tr>
                          <td>nombre</td>
                          <td><button>Eliminar</button><button>Editar</button></td>
                      </tr>
                  </tbody>
              </table>
      </div>
    </div>
  </div>
  