

<div class="container my-5  mx-auto"  *ngIf="!isLogged">
  <div class="card login columna mx-auto" >
  <div class="card-header titulo ">{{ titulo }}</div>
  <div class="card-body">
    
      <div class="row ">
        <div class="col-md-6 my-5 mx-auto">
          <img
            src="../../assets/img/call-center.png"
            width="70%"
            height="100%"
          />
        </div>
        
        <div class="col-md-6 my-5">
         <div class="card">
          <div class="card-header "></div>
           <div class="card-body"> 
                <button class="btn btn-outline-danger btn-lg" (click)="signInWithGoogle()">
                  <i class="fab fa-google">Iniciar Sesión</i>
                </button>
           </div>

         </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
